export(aa_change_hat)
export(aa_change_profile)
export(aa_revert_hat)
export(eval.secure)
export(getgid)
export(getpriority)
export(getuid)
export(setgid)
export(setpriority)
export(setuid)
export(userinfo)
import(parallel)
import(tools)
